/***********************************************************************************/
/***********************    Configurações Gerais    ********************************/
/***********************************************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

html, body {
    height: 100%;
}

.container {
    width: 100%;
    max-width: 1080px;
    height: 100%;
    margin: auto;
    display: flex;
}

/***********************************************************************************/
/***********************    Cabeçalho   ********************************************/
/***********************************************************************************/

.topo {
    height: 40px;
    background-color: #000;
    opacity: 0.8;
    color: white;
}

.topo .left {
    width: 50%;
    height: 100%;
}

.topo .right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.left ul {
    height: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.left ul li {
    padding: 0 8px;
}

.left ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.left ul li a.ativo {
    color: #f80000;
}

.right a img {
    width: 20px;
    height: 20px;
    margin: 0 4px;
}

.right input[type=text] {
    width: 110px;
    height: 22px;
    outline: 0;
}

.right input[type=image] {
    border: 0;
    width: 22px;
    height: 22px;
}

.topo-title {
    height: 95px;
    color: #000;
}

.topo-title .container {
    align-items: center;
    justify-content: space-between;
}

.topo-title .logo {
    width: 230px;
    height: 100%;
}

.topo-title .logo a {
    text-decoration: none;
}

.topo-title .logo a span {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 600;
    color: black;
    font-family: 'Oswald';
}

.topo-title .banner {
    width: 650px;
    height: 80px;
    background-color: red;
    background-image: url('../images/top-banner.png');
    background-size: contain;
}