/***********************************************************************************/
/***********************    Configurações Gerais    ********************************/
/***********************************************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    font-size: 15px;
}

.container {
    width: 100%;
    max-width: 1080px;
    height: 100%;
    margin: auto;
    display: flex;
}

.center {
    text-align: center !important;
}

/***********************************************************************************/
/***********************    Cabeçalho   ********************************************/
/***********************************************************************************/

.topo {
    height: 40px;
    background-color: #000;
    padding: 0 2%;
    opacity: 0.8;
    color: white;
}

.topo .left {
    width: 50%;
    height: 100%;
}

.topo .right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.left ul {
    height: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.left ul li {
    padding: 0 8px;
}

.left ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.left ul li a.ativo {
    color: #f80000;
}

.right a img {
    width: 20px;
    height: 20px;
    margin: 0 4px;
}

.right input[type=text] {
    width: 110px;
    height: 22px;
    outline: 0;
}

.right input[type=image] {
    border: 0;
    width: 22px;
    height: 22px;
}

.topo-title {
    height: 95px;
    padding: 0 2%;
    color: #000;
}

.topo-title .container {
    align-items: center;
    justify-content: space-between;
}

.topo-title .logo {
    width: 230px;
    height: 100%;
}

.topo-title .logo a {
    text-decoration: none;
}

.topo-title .logo a span {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 600;
    color: black;
    font-family: 'Oswald';
}

.topo-title .banner {
    width: 650px;
    height: 80px;
    background-color: red;
    background-image: url('../images/top-banner.png');
    background-size: contain;
}

header > nav {
    height: 50px;
    border-top: 1px solid black;
    border-bottom: 5px solid black;
    padding: 0 2%;
}

nav .container {
    align-items: center;
}

.menu-mobile {
    display: none;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav ul li {
    text-transform: uppercase;
    padding: 0 8px;
    position: relative;
}

nav ul li:hover nav {
    display: block;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 17px;
}

nav ul li a:hover {
    color: #f80000;
}

nav ul li a.ativo {
    color: #f80000;
}

nav ul li img {
    width: 20px;
    vertical-align: bottom;
}

li nav {
    width: 150px;
    position: absolute;
    padding-top: 12px;
    display: none;
}

li nav ul {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.87);
    flex-direction: column;
}

li nav ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid black;
    width: 100%;
    padding: 10px;
}

li nav ul li a {
    color: rgb(221, 221, 221);
    padding-left: 10px;
    font-size: 15px;
    font-weight: 400;
}

.ultimas-noticias {
    height: 50px;
    padding: 0 2%;
}

.ultimas-noticias .container {
    background-color: #ebebeb;
    height: 40px;
    align-items: center;
    margin-top: 10px;
}

.ultimas-noticias .titulo {
    background-color: #f80000;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    height: 100%;
    display: inline-block;
    padding: 10px;
}

.ultimas-noticias .conteudo {
    color: black;
    display: inline-block;
    padding-left: 7px;
}

/***********************************************************************************/
/***********************    Conteúdo Principal   ***********************************/
/***********************************************************************************/

main .container {
    justify-content: space-between;
}

section {
    width: 100%;
    max-width: 783px;
}

.slideshow {
    height: 365px;
    overflow: hidden;
    margin-bottom: 20px;
}

.slide-bolinhas {
    position: absolute;
    width: 225px;
    height: 20px;
    margin: 5px;
}

.bolinha {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
    background-color: #ebebeb;
    cursor: pointer;
    border-radius: 10px;
}

.slideshow-area {
    width: calc(100% * 9);
    height: 365px;
    background-color: #ebebeb;
    transition: all .7s linear;
}

.slide {
    height: 365px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

a:nth-of-type(1) .slide {
    background-image: url('../images/intro1.jpg');
}

a:nth-of-type(2) .slide {
    background-image: url('../images/intro2.jpg');
}

a:nth-of-type(3) .slide {
    background-image: url('../images/intro4.jpg');
}

a:nth-of-type(4) .slide {
    background-image: url('../images/intro5.jpg');
}

a:nth-of-type(5) .slide {
    background-image: url('../images/adult-beautiful-beautyjpg.jpg');
}

a:nth-of-type(6) .slide {
    background-image: url('../images/art-bass-guitar-classic.jpg');
}

a:nth-of-type(7) .slide {
    background-image: url('../images/attraction-blonde-blur.jpg');
}

a:nth-of-type(8) .slide {
    background-image: url('../images/black-and-white-blur-bubbles.jpg');
}

a:nth-of-type(9) .slide {
    background-image: url('../images/beautiful-beauty-close-up.jpg');
}

.slide-info {
    height: 90px;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url('../images/dots-overlay.png');
    background-repeat: repeat;
    margin-top: calc(365px - 90px);
    padding-left: 20px;
}

.slide-info h3 {
    font-size: 20px;
    color: white;
    padding-top: 10px;
}

.slide-info h4 {
    font-size: 15px;
    color: white;
    padding-top: 10px;
}

section > .widget {
    margin-bottom: 20px;
}

.conteudo {
    display: flex;
    justify-content: space-between;
}

.conteudo .left {
    width: 430px;
}

.left .noticia-item {
    flex-direction: column;
}

.left .noticia-item figure {
    width: 430px;
    height: 222px;
}

.left .noticia-item figure img {
    width: 100%;
    height: 100%;
}

.left .noticia-info {
    margin-top: 12px;
}

.left .noticia-info h3 {
    font-size: 20px;
}

.left .noticia-info p {
    font-size: 15px;
}

.conteudo .right {
    width: 320px;
}

.conteudo .right a, .conteudo .left a {
    text-decoration: none;
}

.noticia-item {
    margin-bottom: 14px;
    display: flex;
}

.noticia-item figure img {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    padding: 3px;
}

.noticia-info {
    margin-left: 6px;
    color: black;
}

.noticia-info h3 {
    font-size: 16px;
}

.noticia-info p {
    font-size: 12px;
}

aside {
    width: 275px;
    min-height: 200px;
    margin-left: 12px;
    padding-right: 2%;
}

.widget {
    background-color: white;
    margin-bottom: 10px;
}

.widget h2 {
    color: white;
    border-bottom: 4px solid black;
    font-size: 16px;
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: 400;
}

.widget h2 span {
    background-color: black;
    padding: 12px 30px 9px 15px;
    display: inline-block;
}

.widget p {
    text-align: justify;
    padding: 5px;
    margin-bottom: 10px;
}

.widget p a {
    text-decoration: none;
    color: black;
}

.widget p a img.social {
    width: 20px;
    margin-top: 5px;
}

.widget p img {
    width: 100%;
}

.widget p .img-noticia {
    width: 80px;
    margin-right: 15px;
    float: left;
}

.widget p span {
    text-align: justify !important;
}

/***********************************************************************************/
/***********************    Roadapé   **********************************************/
/***********************************************************************************/

footer {
    width: 100%;
    height: 66px;
    background-color: #f80000;
    padding: 0 2%;
}

footer .container {
    align-items: center;
    justify-content: space-between;
}

footer .left {
    color: white;
    font-size: 13px;
}

footer .left a {
    color: black;
    text-decoration: none;
}

footer ul {
    list-style-type: none;
    display: flex;
}

footer ul li {
    padding: 0 10px;
    font-size: 17px;
    text-transform: uppercase;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 1080px) {
    .container {
        max-width: 880px;
    }

    section {
        max-width: 600px;
    }

    .conteudo .left {
        width: 335px;
        margin-right: 10px;
    }

    .left .noticia-item figure {
        width: 325px;
    }
}

@media only screen and (max-width: 914px) {
    .container {
        max-width: 768px;
    }

    .topo-title .banner {
        width: 550px;
        background-size: 100% 100%;
    }

    nav ul li {
        padding: 0 5px;
    }
    
    nav ul li a {
        text-decoration: none;
        color: black;
        font-size: 16px;
    }
    
    nav ul li img {
        width: 14px;
    }

    main .container {
        flex-direction: column;
    }

    section {
        max-width: none;
    }

    .conteudo .left {
        width: 435px;
        margin-right: 10px;
    }

    .left .noticia-item figure {
        width: 425px;
    }

    aside {
        width: auto;
    }

    .widget {
        clear: both;
    }
    
    .widget p {
        clear: both;
    }
    
    .widget p img {
        width: 80%;
    }

    .margin-top {
        margin-top: 70px;
    }

    footer .container {
        justify-content: center;
        flex-direction: column;
    }

    footer ul {
        margin-top: 8px;
    }
}

@media only screen and (max-width: 810px) {
    .container {
        max-width: 320px;
    }

    .topo .left {
        display: none;
    }

    .topo .right {
        width: 100%;
        align-items: center;
    }

    .right a img {
        width: 15px;
        height: 15px;
    }
    
    .right input[type=text] {
        height: 20px;
    }
    
    .right input[type=image] {
        width: 20px;
        height: 20px;
    }

    .topo-title .banner {
        display: none;
    }

    .topo-title .container {
        align-items: center;
        justify-content: center;
    }

    nav .container {
        align-items: flex-start;
    }

    .menu-mobile {
        display: inline-block;
        margin-top: 5px;
    }
    
    nav .container > ul {
        position: static;
        align-items: flex-start;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.9);
        display: none;
        z-index: 2;
    }
    
    nav .container > ul > li {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        border-bottom: 1px solid black;
        width: 100%;
        height: auto;
        padding: 10px;
    }
    
    nav ul li:hover nav {
        display: block;
    }
    
    nav ul li a {
        font-size: 17px;
        color: rgb(221, 221, 221);
        padding-left: 10px;
    }
    
    nav ul li img {
        display: none;
    }

    li nav {
        position: static;
        display: block;
    }
    
    li nav ul {
        background-color: transparent;
    }

    .ultimas-noticias {
        display: none;
    }

    section {
        margin-top: 10px;
    }

    .slide-info {
        height: 150px;
        background-color: rgba(0, 0, 0, 0.5);
        margin-top: calc(365px - 150px);
    }

    .conteudo {
        flex-direction: column;
    }

    .conteudo .left {
        width: 320px;
    }

    .noticia-item {
        margin-bottom: 0;
    }

    .left .noticia-item figure {
        width: 300px;
    }

    .right a figure img {
        width: 100px;
        height: 100px;
    }

    .widget p img {
        width: 100%;
    }

    .margin-top {
        margin-top: 10px;
    }

    footer {
        height: 80px;
    }
    
    footer .container {
        justify-content: center;
    }
    
    footer .left {
        text-align: center;
    }
}